global.alias
memory.db

# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*~

# Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# System
.bash_history
.zsh_history